{% extends "base.html" %}
{% block title %}
    Create a New Category
{% endblock title %}
{% block content %}
    {% if user.is_authenticated %}
        <h1>Add Category</h1>
        <br>
        <div class="form-group">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-info">Add Category</button>
            </div>
        </form>
    {% else %}
        <h2>You shall not pass!!</h2>
    {% endif %}
{% endblock content %}
