{% extends "base.html" %}
{% block title %}
    Add Post
{% endblock title %}
{% block content %}
    {% if user.is_authenticated %}
        <h1>Create Post</h1>
        <br>
        <div class="form-group">
    {% comment %} Normal form cannot accept images so we need the enctype thing such that we can add images to the form{% endcomment %}
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <button type="submit" class="btn btn-info">Post</button>
            </form>
        </div>
        <script>
            var name = "{{ user.id }}"

            document.getElementById('user').value = name
        </script>
    {% else %}
        <h2>Eh? This might not be the page you are looking for</h2>
    {% endif %}
{% endblock content %}
