
{% extends "base.html" %}

{% block title %}
    {{ post.title_tag }}
{% endblock title %}
{% block content %}
{% load static %}
    <h1>{{ post.title }}</h1>
    <small>By: {{ post.author.first_name }} {{ post.author.last_name }} - {{ post.author.email }} - {{ post.post_date }}</small>
    <br>
    <hr>
    {{ post.body }}
    <br>
    <br>
    {% if user.is_authenticated and post.author.id == user.id %}
        <small><a href="{% url 'edit-post' post.pk %}" class="btn btn-secondary">Edit</a></small> &nbsp;
        <small><a href="{% url 'delete-post' post.pk %}" class="btn btn-danger">Delete</a></small> &nbsp;
    {% endif %}
    {% comment %} TODO: UI needs fixing a bit maybe back button to the far right will seem goood? {% endcomment %}
    <a href="{% url 'home' %}" class="btn btn-info">Back</a>
{% endblock content %}
