{% extends "base.html" %}
{% block title %}
    {{ post.title_tag }}
{% endblock title %}
{% block content %}
    {% load static %}
    <h1>{{ post.title }}</h1>
    {% if post.author.profile.profile_pic %}
        <img src="{{ post.author.profile.profile_pic.url }}"
             alt=""
             height="75px"
             width="125px"
             class="rounded-circle">
    {% else %}
        <img src="{% static 'img/unknown.png' %}"
             alt=""
             height="75px"
             width="125px"
             class="rounded-circle">
    {% endif %}
    <small>By:<a href="{% url 'show-profile' post.author.profile.id %}">{{ post.author.first_name }} {{ post.author.last_name }}</a>  - {{ post.author.email }} - {{ post.post_date }} </small>
    {% if post.header_image %}
        <img src="{{ post.header_image.url }}"
             alt="Catoo"
             height="40%"
             width="100%">
    {% endif %}
    <br>
    <hr>
    {{ post.body|safe }}
    <hr>
    {% if user.is_authenticated %}
        <form action="{% url 'like' post.pk %}" method="post">
            {% csrf_token %}
            <span id="like_count">{{ post.like_count }}</span>
            <button type="submit"
                    id="like_button"
                    name="post_id"
                    value="{{ post.id }}"
                    class="btn btn-primary btn-sm">
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="16"
                     height="16"
                     fill="currentColor"
                     class="bi bi-heart"
                     viewBox="0 0 16 16">
                    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                </svg>
            </button>
        </form>
    {% else %}
        <span id="like_count">{{ post.like_count }}</span>
        <a href="{% url 'register' %}"
           value="{{ post.id }}"
           class="btn btn-primary btn-sm">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="16"
                 height="16"
                 fill="currentColor"
                 class="bi bi-heart"
                 viewBox="0 0 16 16">
                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
            </svg>
        </a>
    {% endif %}
    <br>
    {% if user.is_authenticated and post.author.id == user.id %}
        <small><a href="{% url 'edit-post' post.pk %}"
   class="btn btn-outline-secondary shadow btn-1">Edit</a></small> &nbsp;
        <small><a href="{% url 'delete-post' post.pk %}"
   class="btn btn-outline-danger shadow btn-2">Delete</a></small> &nbsp;
    {% endif %}
    <a href="{% url 'home' %}" class="btn btn-info">Back</a>
    <hr>
    <br>
    <div class="section">
        <div class="container1">
            <h2>Comments</h2>
            <div class="row">
                <div class="col-lg-8 mx-4">
                    <div class="media-list">
                        {% for comment in post_comments %}
                            <div>
                                <img class="avatar avatar-sm mr-4" src="" alt="">
                            </div>
                            <div class="media-body">
                                <div class="small-1">
                                 
                                    <b>{{ comment.user }}</b>
                                    {{ comment.date }}
                                </div>
                                <p>{{ comment.content }}</p>
                            </div>
                        {% endfor %}
                    </div>
                    <form method="post" action="{% url 'article-details' post.pk %}">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.content }}
                        </div>
                        <button type="submit" class="btn btn-info">Comment</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br>
    <hr>
{% endblock content %}
