<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {% block title %}
        Blog
      {% endblock title %}
    </title>
    <!-- Required meta tags -->
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8" />
    <meta name="keywords" content="foo,bar" />
    <meta name="description" content="foo" />
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <body class="main">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">Blog</a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          {% if user.is_superuser %}
            <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'add-post' %}">Add post</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'category-list' %}">Categories</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'add-category' %}">Add category</a>
              </li>
            </ul>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                   href="#"
                   id="navbarDropdown"
                   role="button"
                   data-toggle="dropdown"
                   aria-expanded="false"
                   aria-haspopup="true">{{ user }}</a>
                <ul class="dropdown-menu">
                  {% if user.profile.id %}
                    <li>
                      <a class="dropdown-item" href="{% url 'show-profile' user.profile.id %}">{{ user.first_name }} {{ user.last_name }}</a>
                    </li>
                    <div class="dropdown-divider"></div>
                    <li>
                      <a class="dropdown-item" href="{% url 'dash_user' %}">Admin Panel</a>
                    </li>
                    {% if user.is_superuser %}
                      <li>
                        <a class="dropdown-item"
                           href="{% url 'edit-profile-page' user.profile.id %}">Edit Profile</a>
                      </li>
                    {% endif %}
                  {% else %}
                    <li>
                      <a class="dropdown-item" href="#">{{ user.first_name }} {{ user.last_name }}</a>
                    </li>
                    <div class="dropdown-divider"></div>
                    <li>
                      <a class="dropdown-item" href="{% url 'create-profile-page' %}">Create Profile</a>
                    </li>
                  {% endif %}
                  <li>
                    <a class="dropdown-item" href="{% url 'edit-profile' %}">Edit Info</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link whitebar" href="{% url 'logout' %}">Log out</a>
              </li>
            </ul>
          {% elif user.is_authenticated %}
            <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'add-post' %}">Add post</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'category-list' %}">Categories</a>
              </li>
            </ul>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                   href="#"
                   id="navbarDropdown"
                   role="button"
                   data-toggle="dropdown"
                   aria-expanded="false"
                   aria-haspopup="true">{{ user }}</a>
                <ul class="dropdown-menu">
                  {% if user.profile.id %}
                    <li>
                      <a class="dropdown-item" href="{% url 'show-profile' user.profile.id %}">{{ user.first_name }} {{ user.last_name }}</a>
                    </li>
                    <div class="dropdown-divider"></div>
                    <li>
                      <a class="dropdown-item"
                         href="{% url 'edit-profile-page' user.profile.id %}">Edit Profile</a>
                    </li>
                  {% else %}
                    <li>
                      <a class="dropdown-item" href="#">{{ user.first_name }} {{ user.last_name }}</a>
                    </li>
                    <div class="dropdown-divider"></div>
                    <li>
                      <a class="dropdown-item" href="{% url 'create-profile-page' %}">Create Profile</a>
                    </li>
                  {% endif %}
                  <li>
                    <a class="dropdown-item" href="{% url 'edit-profile' %}">Edit Info</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link whitebar" href="{% url 'logout' %}">Log out</a>
              </li>
            </ul>
          {% else %}
            <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'category-list' %}">Categories</a>
              </li>
            </ul>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link whitebar" href="{% url 'login' %}">Log in</a>
              </li>
              <li class="nav-item">
                <a class="nav-link whitebar" href="{% url 'register' %}">Register</a>
              </li>
            </ul>
          {% endif %}
        </div>
      </div>
    </nav>
    <br />
    <div class="container">
      {% block content %}
      
      {% endblock content %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
  </body>
</html>
