{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
    {% if post_category %}
        <center><h1>{{ cat }}</h1></center>
        <ul>
            {% for post in post_category %}
                <li>
                    <div id="container">
                        <!-- A div with card class for the card  -->
                        <div class="card">
                            {% if post.header_image %}
                                <img src="{{ post.header_image.url }}"
                                     alt="Catoo"
                                     height="314px"
                                     width="100%"
                                     class="img-box">
                            {% endif %}
                            <div class="card__details">
                                <!-- Span with tag class for the tag -->
                                <span class="tag">{{ post.category|title }}</span>
                                <div class="name">{{ post.title }}</div>
                                <p>{{ post.snippet }}</p>
                                <a class="btn btn-primary button"
                                   href="{% url 'article-details' post.pk %}">Read more</a>
                                <br>
                            </div>
                        </div>
                    </div>
                </li>
                <br />
                <hr>
            {% endfor %}
        </ul>
    {% else %}
        <center><h1>No posts yet...</h1></center>
    {% endif %}
{% endblock content %}
