{% extends "base.html" %}
{% block title %}
    Categories
{% endblock title %}
{% block content %}
    {% load static %}
    <div class="row">
        {% for item in category_list %}
            <div class="col-lg-4">
                {% if item.category_pic %}
                    <img class="thumbnail"
                         src="{{ item.category_pic.url }}"
                         alt="Cateogry Pic">
                {% else %}
                    <img class="thumbnail"
                         src="{% static 'img/unknown.png' %}"
                         alt="Cateogry Pic">
                {% endif %}
                <a href="{% url 'category' item|slugify %}">
                    <div class="box-element product">
                        <h6>
                            <strong>{{ item.name }}</strong>
                        </h6>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
