{% extends "admin_dash.html" %}
{% block title %}
    Delete Categories
{% endblock title %}
{% block content %}
    {% if user.is_superuser %}
        <h1>Delete Category</h1>
        <br>
        <form method="post">
            <div class="form-group">
                {% csrf_token %}
                <strong>
                    <br>
                    <u>Warning!</u></strong>
                <p>You are about to delete the category permanently. You will not be able to undo this action.</p>
                <button type="button" class="btn btn-outline-secondary shadow">
                    {# djlint:off H021 #}
                    <a href="{% url 'dash_cat' %}"
                       style="text-decoration:none;
                              color:black">Take me Back!</a>
                </button>
                <button type="submit" class="btn btn-outline-danger shadow">Delete</button>
            </div>
        </form>
    {% else %}
        <h2>Eh? This might not be the page you are looking for</h2>
    {% endif %}
{% endblock content %}
