{% extends "base.html" %}
{% block title %}
    Edit Post
{% endblock title %}
Edit Post
{% block content %}
    {% if user.is_authenticated and user.id == post.author.id %}
        <h1>Update Post</h1>
        <br>
        <form method="post">
            <div class="form-group">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <button type="submit" class="btn btn-outline-info shadow">Update</button>
            </div>
        </form>
    {% else %}
        <h1>Eh? This might not be the page you are looking for</h1>
    {% endif %}
{% endblock content %}
