 @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

h2 {
    color: #444444;
}

hr {
    height: 2px;
    background-color:  #c4e4f1;
    border: none;
  }

#container{
    max-width: 600px;
    margin: 0 auto;

    margin-top: 5vh;
}

.card {
    background-color: white;
    border: 1px solid #bacdd8;
    padding: 8px;
    border-radius: 12px;
}

.card__details {

    padding: 16px 8px 8px 8px;
}

ul{
    list-style: none;
}

img{
    width: 100%;
    border-radius: 12px;
    height: 314px;
}

body{
    font-family: 'Open Sans', sans-serif;
}