.main{
    height: 60vh;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background: rgb(130, 106, 251);
}

.container{
    position: relative;
    max-width: 70   0px;
    width: 100%;
    background: #fff;
    padding: 25px;
    border-radius: 3px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.container h1{
    padding: 0 0 10px 0;
    font-size: 30px;
    color: #333;
    font-weight: 500;
    text-align: center;
    border-bottom: 1px solid silver; 
}

.container .form{
    margin-top: 30px;
}

.form .input{
    width: 100%;
    margin-top: 20px;
}

.input label{
    color: #333;
}

.form .input input{
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}

.input input:focus{
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.form button{
    height: 55px;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    border: none;
    margin-top: 30px;
    /* cursor: pointer; */
    border-radius: 6px;
    font-weight: 400;
    transition: all 0.2s ease;
    background-color: rgb(130, 106, 251);
}

.form button:hover{
    background-color: rgb(88, 56, 250);
}