{% extends "base.html" %}
{% block title %}
    Admin Login
{% endblock title %}
{% block content %}
    {% load static %}
    <div class="main1">
        {% comment %} <link rel="stylesheet" href="{% static 'css/login.css' %}"> {% endcomment %}
        <div class="container1">
            <h1>Log in</h1>
            <div class="form-group">
                <form method="post">
                    {% csrf_token %}
                    <div class="input">
                        <label>Username</label>
                        <input type="text" name="username" required>
                    </div>
                    <div class="input">
                        <label>Password</label>
                        <input type="Password" name="password" required>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-info">Login</button>
                </div>
            </form>
            {% for message in messages %}
                <p id="messages">{{ message }}</p>
            {% endfor %}
            {{ form.errors }}
        </div>
    </div>
{% endblock content %}
