{% extends "base.html" %}
{% block title %}
    Login
{% endblock title %}
{% block content %}
    {% load static %}
    <div class="main1">
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
        <div class="container1">
            <h1>Log in</h1>
            <div class="form-group">
                <form method="post">
                    {% csrf_token %}
                    <div class="input">
                        <label>Username</label>
                        <input type="text" name="username" required>
                    </div>
                    <div class="input">
                        <label>Password</label>
                        <input type="Password" name="password" required>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-info">Log in</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
