{% extends "base.html" %}
{% block title %}
    Register
{% endblock title %}
{% block content %}
    {% load static %}
    <div class="main1">
        <link rel="stylesheet" href="{% static 'css/register.css' %}">
        <div class="container1">
            <h1 class="title">Register</h1>
            <br>
            <div class="form-group">
                <form method="post">
                    {% csrf_token %}
                         <div class="text">
                            <label>First Name</label>
                            <span></span>
                            <input type="text" class="input" placeholder="Enter your first name" name="first_name"/>
                        </div><br>
                        <div class="text">
                            <label>Last Name</label>
                            <span></span>
                            <input type="text" class="input" placeholder="Enter your last name" name="last_name"/>
                        </div><br>
                        <div class="text">
                            <label>Username</label>
                            <span></span>
                            <input type="text" class="input" placeholder="Enter your username" name="username"/>
                        </div><br>
                        <div class="text">
                            <label>Email</label>
                            <span></span>
                            <input type="email" class="input" placeholder="Enter your email" name="email"/>
                        </div><br>
                        <div class="text">
                            <label>Password</label>
                            <span></span>
                            <input type="password" class="input" placeholder="Enter your password" name="password1"/>
                        </div><br>
                        <div class="text">
                            <label>Confirm password</label>
                            <span></span>
                            <input type="password" class="input" placeholder="Re-enter the password" name="password2"/>
                        </div> 
                    <br>
                    <button type="submit" class="btn btn-info" name="Create User">Register</button>
                    {{ form.errors }}
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
