{% extends "base.html" %}
{% block title %}
    Register
{% endblock title %}
{% block content %}
    <h1>Register</h1>
    <br>
    <div class="form-group">
        <form method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.username.label }}</td>
                    <td>{{ form.username }}</td>
                </tr>
               
                <tr>
                    <td>{{ form.password1.label }}</td>
                    <td>{{ form.password1 }}</td>
                </tr>
               
                <tr>
                    <td>Re-Password</td>
                    <td>{{ form.password2 }}</td>
                </tr>
             
            </table>
            <br>
            <button type="submit" class="btn btn-info">Register</button>
        </div>
    </form>
{% endblock content %}
