{% extends "base.html" %}
{% block title %}
Register
{% endblock title %}
{% block content %}
{% load static %}

<div class="main">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <div class="container">
        <h1 class="title">Register</h1>
        <br>
        <div class="form-group">
            <form method="post">
                {% csrf_token %}

                <table>
                    <tr class="text">
                        <span></span>
                        <td class="label">{{ form.first_name.label }}</td>
                        <td class="input">{{ form.first_name }}</td>
                    </tr>
                    <tr class="text">
                        <span></span>
                        <td class="label">{{ form.last_name.label }}</td>
                        <td class="input">{{ form.last_name }}</td>
                    </tr>
                    <tr class="text">
                        <span></span>
                        <td class="label">{{ form.username.label }}</td>
                        <td class="input">{{ form.username }}</td>
                    </tr>
                    <tr class="text">
                        <span></span>
                        <td class="label">Email</td>
                        <td class="input">{{ form.email }}</td>
                    </tr>
                    <tr class="text">
                        <span></span>
                        <td class="label">{{ form.password1.label }}</td>
                        <td class="input">{{ form.password1 }}</td>
                    </tr>
                    <tr class="text">
                        <span></span>
                        <td class="label">Re-Password</td>
                        <td class="input">{{ form.password2 }}</td>
                    </tr>
                </table>
                <br>
                <button type="submit" class="btn btn-outline-info shadow" name="Create User">Register</button>
            </form>
        </div>
    </div>
</div>


{% endblock content %}