{% extends "base.html" %}
{% block content %}
    {% load static %}
    <h1>User Profile</h1>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>
    <link rel="stylesheet" href="css/profile.css" />
  </head>
  <body>
    <div class="header__wrapper">
      <header></header>
      <div class="cols__container">
        <div class="left__col">
          <div class="img__container">
            {% if page_user.profile_pic %}
        <img src="{{ page_user.profile_pic.url }}"
             alt=""
             height="75px"
             width="125px"
             class="rounded-circle">
    {% else %}
        <img src="{% static 'img/unknown.png' %}"
             alt=""
             height="75px"
             width="125px"
             class="rounded-circle">
    {% endif %}
            <span></span>
          </div>
          <br>
          <div class="detail">
            {{ page_user.user.username}} <button type="submit" class="btn btn-info btn-sm">Follow</button><br>
          {{ page_user.user.first_name}}
          {{ page_user.user.last_name}} <br>
          
          {{ page_user.user.email}}
          </div>
          

          <div class="content"><br>
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam
              erat volutpat. Morbi imperdiet, mauris ac auctor dictum, nisl
              ligula egestas nulla.
            </p>

            <ul>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-pinterest"></i>
              <i class="fab fa-facebook"></i>
              <i class="fab fa-dribbble"></i>
            </ul>
          </div>
        </div>
        <div class="right__col">
          <nav>
            <ul  class="list">
              <li><a href="">blogs</a></li>
              {% comment %} <li><a href="">about</a></li> {% endcomment %}
            </ul>
            
          </nav>

          <div class="blogs">
            <img src="img/img_1.avif" alt="Photo" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
{% endblock content %}
